{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}

<div class="container">
<div class="row">

  <div id="checkBoxCategory" class="form-group col-xl-9">
    <ul class="database-categories">
       {% for cat in categories %}
    <li class="list-group-item"><input type="checkbox" id="cat-id-{{ cat.id }}-{{ cat.name|slugify }}" class="db-option" name="category-selection" value="cat-id-{{ cat.id }}-{{ cat.name|slugify }}" onChange="showOptions()">
    <label for="cat-id-{{ cat.id }}-{{ cat.name|slugify }}"> {{ cat.name }}</label></li>
        {% endfor %}
    </ul>
 </div>

<div id="contentArea" class="content col-xl-9">


  <div id="onlineresource">
  <div class="intro">{{ page.intro|richtext }}</div>

  <div id="onlineResourcesFullList" class="container">
  {% for post in online_resource_pages %}
       {% with post=post.specific %}
       <div class="category cat-id-{{ cat.id }}-{{ cat.name|slugify }} border-bottom row mb-3">
        <div class="categories col-4 col-md-2">
        <div class="resource-image mt-2 mb-2">
        <a href="{{ post.specific.online_resource_url }}">{% image post.specific.resource_image class="img-fluid" width-150 %}</a>
        </div>
        </div>
          <div class="col-8 col-md-6">
            <h2><a href="{{ post.specific.online_resource_url }}">{{ post.title }}</a></h2>
          {{ post.specific.online_resource_description|richtext }}
          </div>
      </div>
      {% endwith %}
      {% endfor %}
  </div>

<div id="onlineResourcesSelected" class="d-none container">
{% for post in online_resource_pages %}
     {% with post=post.specific %}
     {% with categories=post.specific.categories.all %}
     {% if categories %}
     {% for cat in categories %}
     <div class="category cat-id-{{ cat.id }}-{{ cat.name|slugify }} border-bottom row mb-3">
      <div class="categories col-4 col-md-2">
      <div class="resource-image mt-2 mb-2">
      <a href="{{ post.specific.online_resource_url }}">{% image post.specific.resource_image class="img-fluid" width-150 %}</a>
      </div>
      </div>
        <div class="col-8 col-md-6">
          <h2><a href="{{ post.specific.online_resource_url }}">{{ post.title }}</a></h2>
        {{ post.specific.online_resource_description|richtext }}
        </div>
    </div>
    {% endfor %}
{% endif %}
{% endwith %}
      {% endwith %}
    {% endfor %}
</div>
</div>

</div>
<div id="featuredResource" class="col-xl-3 d-none d-lg-block">
<div class="card">
<div id="featuredResourceTitle" class="pt-1 pb-1"><h3>Featured Resource</h3></div>
{% for post in online_resource_pages %}
{% if post.specific.featured == True %}
  <div class="card-body">
    <a href="{{ post.specific.online_resource_url }}">{% image post.specific.resource_image width-150 as db_feat_img %}
  <img src="{{ db_feat_img.url }}" width="{{ db_feat_img.width }}" alt="{{ post.title }}" class="img-fluid">
    </a>
    <div class="card-text">{{ post.specific.online_resource_description|richtext }}</div>
    <a href="{{ post.specific.online_resource_url }}" class="btn btn-primary">Access {{ post.title }}</a>
  </div>
</div>
{% endif %}
{% endfor %}

</div>
</div>
</div>


<script>
  function showOptions() {
      if($('.db-option:checked').length ==0) {
        /* if all items are unchecked by the user */
        $('.category').removeClass(' d-none ');
      } else {
        /* If a category has been checked */
        {% for cat in categories %}
        var get_checkbox_id_{{ cat.id }} = document.getElementById("cat-id-{{ cat.id }}-{{ cat.name|slugify }}");

         if (get_checkbox_id_{{ cat.id }}.checked == true) {
          var category_classes = get_checkbox_id_{{ cat.id }}.value;
          /* Find all classes that match the checked, checkbox */
          const show_checked_divs =  document.getElementsByClassName(category_classes);
          for (let i = 0; i < show_checked_divs.length; i++) {
            show_checked_divs[i].classList.remove("d-none");
          }
        }

        else if (get_checkbox_id_{{ cat.id }}.checked == false) {
          var category_classes = get_checkbox_id_{{ cat.id }}.value;
          /* Find all classes that match the checked checkbox */
          const hide_unchecked_divs =  document.getElementsByClassName(category_classes);
          for (let i = 0; i < hide_unchecked_divs.length; i++) {
            hide_unchecked_divs[i].classList.add("d-none");
          }
        }

        {% endfor %}

      }
    };
    $('input[type="checkbox"]').click(function() {
          if($(this).is(":checked")) {
              $('#onlineResourcesFullList').addClass('d-none ');
              $('#onlineResourcesSelected').removeClass('d-none ');

            }
            else if($(this).is(":not(:checked)")) {
              $('#onlineResourcesSelected').addClass('d-none ');
              $('#onlineResourcesFullList').removeClass('d-none ');
            }
          });
  </script>
{% endblock %}
