{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}

<div class="container">
<div class="row">
<div id="contentArea" class="content col-xl-12">

<div id="onlineresource">
<div class="intro">{{ page.intro|richtext }}</div>

 <div class="form-group mb-3">
   <ul id="checkBoxCategory" class="list-group database-categories">
      {% for cat in categories %}
   <li class="list-group-item"><input type="checkbox" id="cat-id-{{ cat.id }}-{{ cat.name|slugify }}" class="db-option" name="category-selection" value="cat-id-{{ cat.id }}-{{ cat.name|slugify }}" onChange="showOptions()">
   <label for="cat-id-{{ cat.id }}-{{ cat.name|slugify }}"> {{ cat.name }}</label></li>
       {% endfor %}
   </ul>
</div>

<div id="onlineResources" class="container">
{% for post in online_resource_pages %}
     {% with post=post.specific %}
     {% with categories=post.specific.categories.all %}
     {% if categories %}
     {% for cat in categories %}
     <div class="category cat-id-{{ cat.id }}-{{ cat.name|slugify }} border-bottom row mb-3">
      <div class="categories col-4 col-md-2">
      <div class="access-now mt-2 mb-2">
        <a href="{{ post.specific.online_resource_url }}" class="btn">Access Now</a>
      </div>
      </div>
        <div class="col-8 col-md-6">
          <h3><a href="{{ post.specific.online_resource_url }}">{{ post.title }}</a></h3>
        {{ post.specific.online_resource_description|richtext }}
        </div>
    </div>
    {% endfor %}
{% endif %}
{% endwith %}
      {% endwith %}
    {% endfor %}
</div>

</div>

</div>
</div>
</div>


<script>
  function showOptions() {
      if($('.db-option:checked').length ==0) {
        console.log('nothing is checked');
        $('.category').removeClass( ' d-none ');

      } else {
        console.log('something is checked');

        {% for cat in categories %}
        var get_checkbox_id_{{ cat.id }} = document.getElementById("cat-id-{{ cat.id }}-{{ cat.name|slugify }}");

         if (get_checkbox_id_{{ cat.id }}.checked == true) {
          var category_classes = get_checkbox_id_{{ cat.id }}.value;
          /* Find all classes that match the checked, checkbox */
          const show_checked_divs =  document.getElementsByClassName(category_classes);
          for (let i = 0; i < show_checked_divs.length; i++) {
            show_checked_divs[i].classList.remove("d-none");
          }
        }

        else if (get_checkbox_id_{{ cat.id }}.checked == false) {
          var category_classes = get_checkbox_id_{{ cat.id }}.value;
          /* Find all classes that match the checked, checkbox */
          const hide_unchecked_divs =  document.getElementsByClassName(category_classes);
          for (let i = 0; i < hide_unchecked_divs.length; i++) {
            hide_unchecked_divs[i].classList.add("d-none");
          }
        }

        {% endfor %}

      }
    };
</script>



{% endblock %}
