{% extends "base.html" %}
{% load wagtailcore_tags widget_tweaks %}
{% block content %}
<div class="container">
<div class="row">
<div id="contentArea" class="content col-xl-12">
  <p>{{ page.intro|richtext}}</p>
        <form action="{% pageurl page %}" method="POST" class="col-xl-6 mb-2">
            {% csrf_token %}
            {% for field in form.visible_fields %}
            {% if field|field_type == 'datefield' %}
           <div class="form-group">
            {{ field.label_tag }}:
            {% render_field field type="date" class="form-control col-xl-6" %}
            {% if field.help_text %}<small class="form-text text-muted">{{ field.help_text }}</small>{% endif %}
            {{ field.errors }}
           </div>
              {% else %}
                  {% include 'webform/form_field.html' %}
              {% endif %}
              {% endfor %}
              <input type="submit" class="btn btn-primary mt-2" value="{% if page.submit_button_text == '' %}Submit{% else %}{{ page.submit_button_text }}{% endif %}">
        </form>
</div>
</div>
</div>
{% endblock %}
