{% load static wagtailcore_tags menu_tags %}
{% for item in menu_items %}

{# changes the bootstrap column row depending on how many mega menu categories there are #}

{% if forloop.last == True and forloop.counter == 1 %}
{% for item in menu_items %}
<div class="col-12">
<div class="col-megamenu">
  <h6 class="title"><a href="{{item.href }}">{{ item.text }}</a></h6>
  {% sub_menu item template="menus/level_3.html" %}
</div>
</div>
{% endfor %}

{% elif forloop.last == True and forloop.counter == 2 %}
{% for item in menu_items %}
<div class="col-6">
<div class="col-megamenu">
  <h6 class="title"><a href="{{item.href }}">{{ item.text }}</a></h6>
  {% sub_menu item template="menus/level_3.html" %}
</div>
</div>
{% endfor %}

{% elif forloop.last == True and forloop.counter == 3 %}
{% for item in menu_items %}
<div class="col-4">
<div class="col-megamenu">
  <h6 class="title"><a href="{{item.href }}">{{ item.text }}</a></h6>
  {% sub_menu item template="menus/level_3.html" %}
</div>
</div>
{% endfor %}

{% elif forloop.last == True and forloop.counter == 4 %}
{% for item in menu_items %}
<div class="col-2">
<div class="col-megamenu">
  <h6 class="title"><a href="{{item.href }}">{{ item.text }}</a></h6>
  {% sub_menu item template="menus/level_3.html" %}
</div>
</div>
{% endfor %}
{% endif %}

{% endfor %}
